$bodyBg:#f2f3f3;

$headerBg: #24292f;
$headerFg: #ffffff;

$navBg: #f5f5f5;

body {
  margin: 0px !important;
}

.container-fluid {
  width: 100%;
  background-color: $bodyBg;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.header {
  background-color: $headerBg;
  height: 3rem;
  -webkit-box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
  -moz-box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
  box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
  top: 0;
  left: 0;
  text-align: center;
  color: $headerFg;
  display: grid;
  grid-template-columns: auto auto;
  justify-items: flex-end;
  padding-right: 10px;
  padding-top: 10px;
}

.navbar {
  background-color: $navBg;
  height: 3rem;
  box-shadow: 1px 2px 1px 0 #ccc;
  display: flex;
  align-items: center;
}

.breadcrumbs {
  height: 2.5rem;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  min-height: 85vh;
  background-color: $bodyBg;
}

footer {
  height: 6rem;
  margin-top: -2.5rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

footer .section {
  border-top: 1px solid #f2f3f3;
  height: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}